body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #fff;
  color: #333;
  font-style: normal;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.airbook {
  position: absolute;
  z-index: 4;
  left: 220;
  top: 50;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

body, input, textarea, select, button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.section-hero .hero-films-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  margin-top: 112px;
  margin-bottom: 0;
}

.selfclear::before, .selfclear::after {
  content: ' ';
  display: table;
}

.section-hero .hero-films-container .macbook-air-film {
  background-image: url(../img/img6.jpg);
}

.section-hero .hero-films-container .macbook-air-reveal {
  background-repeat: no-repeat;
  background-image: url(../img/img5.jpg);
  background-size: cover;
}

.section-hero .hero-films-container .link-wrapper {
  float: left;
  width: 50%;
  color: #fff;
  height: 60%;
}

.thumbnail {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.section-hero .hero-films-container .icon-wrapper .icon-playcircle {
  font-weight: 300;
}

.section-hero .hero-films-container .icon-wrapper .icon-copy {
  margin-top: 16px;
}

.section-hero .hero-films-container .block {
  display: block;
}

.section-hero .hero-films-container .block {
  display: block;
}

.section-hero .hero-films-container .icon-wrapper {
  text-align: center;
  color: #fff;
}

.typography-headline {
  font-size: 48px;
  line-height: 1.08365;
  font-weight: 600;
  letter-spacing: -.003em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.icon::before, .icon::after, .more::before, .more::after {
  font-family: "SF Pro Icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: '';
}

.large-11 {
  width: 91.66667%;
}

.section-speakers-camera .video-container {
  margin-left: auto;
  margin-right: auto;
}

.background-alt .video-container {
  border: 1px solid #fafafa;
}

.video-container.has-ended {
  -webkit-clip-path: none;
  clip-path: none;
}

.video-container {
  position: relative;
}

.section-speakers-camera .video-container .image-endframe {
  background-image: url(../img/speaker_endframe__cyoizwwd7dme_large_2x.jpg);
}

.section-speakers-camera .video-container .image-endframe {
  width: 1058px;
  height: 322px;
  background-size: 1058px 322px;
  background-repeat: no-repeat;
  background-image: url(../img/speaker_endframe__cyoizwwd7dme_large.jpg);
}

.section-speakers-camera .video-container .video-elm {
  background-image: url(../img/speaker_endframe__cyoizwwd7dme_large.jpg);
}

.section-speakers-camera .video-container .video-elm {
  width: 1058px;
  height: 322px;
  background-size: 1058px 322px;
  background-repeat: no-repeat;
  background-image: url(../img/speaker_endframe__cyoizwwd7dme_large.jpg);
  margin-left: auto;
  margin-right: auto;
}

.video-container .ac-video-poster, .video-container .ac-video-controls, .video-container .ac-video-blockade {
  display: none !important;
}

.ac-video-poster {
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.ac-video-player>* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ac-video-poster img {
  display: block;
  width: 100%;
  height: auto;
}

.video-container .ac-video-poster, .video-container .ac-video-controls, .video-container .ac-video-blockade {
  display: none !important;
}

.ac-video-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.ac-video-player>* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ac-video-controls.end-state .controls-container {
  opacity: 1;
  background: rgba(0, 0, 0, 0.55);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.6, 1);
}

.ac-video-controls .controls-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.55));
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.6, 1);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.section-speakers-camera .image-speakers-camera {
  background-image: url(../img/speaker__caksgec2uo02_large_2x.png);
}

.section-speakers-camera .image-speakers-camera {
  width: 854px;
  height: 598px;
  background-size: 854px 598px;
  background-repeat: no-repeat;
  background-image: url(../img/speaker__caksgec2uo02_large.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.section-speakers-camera .icon-bass {
  background-image: url(../img/bass__0ehlvm7xupuy_large_2x.png);
}

.section-speakers-camera .icon-bass {
  width: 101px;
  height: 51px;
  background-size: 101px 51px;
  background-repeat: no-repeat;
  background-image: url(../img/bass__0ehlvm7xupuy_large.png);
}

.section-speakers-camera .badge-content .badge-value {
  margin: -9px 0 -4px;
}

.badge .badge-content .badge-value {
  min-height: 64px;
  margin-bottom: -13px;
}

.badge .badge-unit, .badge .badge-unit-plus, .badge .badge-unit-percent, .badge .badge-unit-currency, .badge.badge-stacked .badge-value {
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: .004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.badge-unit-percent {
  top: -0.37em;
}

.badge-unit-percent, .badge-unit-currency, .badge-unit-plus {
  position: relative;
  z-index: 1;
}

.section-speakers-camera .icon-microphone {
  background-image: url(../img/microphones__xuh1j20xrxei_large_2x.png);
}

.section-speakers-camera .icon-microphone {
  width: 77px;
  height: 51px;
  background-size: 77px 51px;
  background-repeat: no-repeat;
  background-image: url(../img/microphones__xuh1j20xrxei_large.png);
}

.section-speakers-camera .icon-camera {
  background-image: url(../img/video_camera__cmfin30d3u6a_large_2x.png);
}

.section-speakers-camera .icon-camera {
  width: 72px;
  height: 51px;
  background-size: 72px 51px;
  background-repeat: no-repeat;
  background-image: url(../img/video_camera__cmfin30d3u6a_large.png);
}

.section.background-alt-dark {
  background-color: #e3e3e3;
}

.section-materials .headline-wrapper {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.large-9 {
  width: 75%;
}

.large-offset-1 {
  margin-left: 8.33333%;
}

.section-materials .section-headline {
  color: #fff;
}

.section-materials .image-materials {
  background-image: url(../img/materials__cvfafmvjzpw2_large_2x.png);
}

.section-materials .image-materials {
  width: 982px;
  height: 62px;
  background-size: 982px 62px;
  background-repeat: no-repeat;
  background-image: url(../img/materials__cvfafmvjzpw2_large.png);
  position: relative;
  left: 50%;
  margin-left: -491px;
}

.section-materials .subsection {
  position: relative;
  z-index: 2;
}

sup {
  font-size: .6em;
  vertical-align: top;
  position: relative;
  bottom: -.2em;
}

user agent stylesheet sup {
  vertical-align: super;
  font-size: smaller;
}

.section-materials .badge-content .badge-value {
  margin: -13px 0 2px;
  min-height: 62px;
}

.badge .badge-content .badge-value {
  min-height: 64px;
  margin-bottom: -13px;
}

.badge .badge-value {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.003em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.badge-value {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.003em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  left: -2px;
  display: block;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.large-9 {
  width: 75%;
}

.section-materials .section-headline {
  color: #fff;
}

.section-headline {
  color: #cfcfcf;
}

.headline-span {
  display: block;
}

.section-headline+.section-subheadline {
  margin-top: 0;
}

.section-materials .icon-aluminum {
  background-image: url(../img/materials_element__f5h9esszvpe2_large_2x.png);
}

.section-materials .icon-aluminum {
  width: 54px;
  height: 64px;
  background-size: 54px 64px;
  background-repeat: no-repeat;
  background-image: url(../img/materials_element__f5h9esszvpe2_large.png);
}

.large-11 {
  width: 91.66667%;
}

.section-macos .figure-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1001px;
}

.section-macos .figure-wrapper .image-mac-hardware {
  background-image: url(../img/macos_hw__edbppy97oawm_large_2x.jpg);
}

.section-macos .figure-wrapper .image-mac-hardware {
  width: 1001px;
  height: 576px;
  background-size: 1001px 576px;
  background-repeat: no-repeat;
  background-image: url(../img/macos_hw__edbppy97oawm_large.jpg);
  margin-left: auto;
  margin-right: auto;
}

.section-macos .video-container .image-endframe {
  background-image: url(../img/macos_endframe__b7x2ikus2rde_large_2x.jpg);
}

.section-macos .video-container .image-endframe {
  background-image: url(../img/macos_endframe__b7x2ikus2rde_large.jpg);
}

.section-macos .video-container .image-endframe {
  background-image: url(../img/macos_endframe__b7x2ikus2rde_large_2x.jpg);
}

.section-macos .video-container .image-endframe {
  width: 780px;
  height: 488px;
  background-size: 780px 488px;
  background-repeat: no-repeat;
  background-image: url(../img/macos_endframe__b7x2ikus2rde_large.jpg);
}

.section-macos .video-container .video-elm {
  background-image: url(../img/macos_startframe__voptilw21cia_large_2x.jpg);
}

.section-macos .video-container .video-elm {
  width: 780px;
  height: 488px;
  background-size: 780px 488px;
  background-repeat: no-repeat;
  background-image: url(../img/macos_endframe__b7x2ikus2rde_large.jpg);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 35px;
}

.section-macos .figure-wrapper .has-ended .image-iphone {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.section-macos .figure-wrapper .image-iphone {
  background-image: url(../img/macos_iphone__c662gzwqkioi_large_2x.png);
}

.section-macos .figure-wrapper .image-mac-hardware {
  background-image: url(../img/macos_hw__edbppy97oawm_large_2x.jpg);
}

.section-macos .figure-wrapper .image-iphone {
  background-image: url(../img/macos_hw__edbppy97oawm_large_2x.jpg);
}

.section-macos .figure-wrapper .image-mac-hardware {
  width: 1001px;
  height: 576px;
  background-size: 1001px 576px;
  background-repeat: no-repeat;
  background-image: url(../img/macos_hw__edbppy97oawm_large.jpg);
  margin-left: auto;
  margin-right: auto;
}

.subsection-wrapper.border-top .section-content {
  border-top: 1px solid #d6d6d6;
}

.subsection-wrapper.pad-bottom .section-content {
  padding-bottom: 100px;
}

.section-macos .figure-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1001px;
}

.section-macos .subsection-continuity .image-handoff {
  background-image: url(../img/handoff__borvxjwumaly_large_2x.jpg);
}

.section-macos .subsection-continuity .image-handoff {
  width: 404px;
  height: 233px;
  background-size: 404px 233px;
  background-repeat: no-repeat;
  background-image: url(../img/handoff__borvxjwumaly_large_2x.jpg);
}

.section-macos .subsection-continuity .figure-image {
  margin-left: -38px;
}

.figure-container .figure-image {
  margin-bottom: 20px;
}

.section-macos .subsection-continuity .image-messages {
  background-image: url(../img/messages__cmaxxxi74c2u_large_2x.jpg);
}

.section-macos .subsection-continuity .image-messages {
  background-image: url(../img/messages__cmaxxxi74c2u_large_2x.jpg);
}

.section-macos .subsection-continuity .image-messages {
  background-image: url(../img/messages__cmaxxxi74c2u_large_2x.jpg);
}

.section-macos .subsection-continuity .image-messages {
  width: 404px;
  height: 233px;
  background-size: 404px 233px;
  background-repeat: no-repeat;
  background-image: url(../img/messages__cmaxxxi74c2u_large_2x.jpg);
}

.subsection-wrapper.border-top .section-content {
  border-top: 1px solid #d6d6d6;
}

.subsection-wrapper.pad-top .section-content {
  padding-top: 100px;
}

[class*="typography-eyebrow"] {
  color: #333;
  display: block;
  margin-bottom: .4em;
}

.typography-eyebrow {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.large-5 {
  width: 41.66667%;
}

.large-10 {
  width: 83.33333%;
}

.section-macos .icon-container {
  margin-left: -40px;
}

.section-macos .subsection-continuity .figure-caption {
  max-width: 366px;
}

.figure-container .figure-image {
  margin-bottom: 20px;
}

.section-macos .subsection-continuity .figure-image {
  margin-left: -38px;
}

.figure-container .figure-image {
  margin-bottom: 20px;
}

.typography-body-reduced {
  font-size: 14px;
  line-height: 1.42861;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.large-10 {
  width: 83.33333%;
}

.section-macos .icon-container .icon-image {
  min-height: 70px;
}

.icon-content .icon-safari {
  background-image: url(../img/icon_safari__kn4ciweq0x26_large_2x.png);
}

.icon-content .icon-safari {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_safari__kn4ciweq0x26_large_2x.png);
}

.icon-content .icon-mail {
  background-image: url(../img/icon_mail__b5hp7zvl4idy_large_2x.png);
}

.icon-content .icon-mail {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_mail__b5hp7zvl4idy_large_2x.png);
}

.icon-content .icon-siri {
  background-image: url(../img/icon_siri__bjr90rb1nthy_large_2x.png);
}

.icon-content .icon-siri {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_siri__bjr90rb1nthy_large_2x.png);
}

.icon-content .icon-reminders {
  background-image: url(../img/icon_reminders__d5q8qgn8ukia_large_2x.png);
}

.icon-content .icon-reminders {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_reminders__d5q8qgn8ukia_large_2x.png);
}

.icon-content .icon-pages {
  background-image: url(../img/icon_pages__dixdeymd36mq_large_2x.png);
}

.icon-content .icon-pages {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_pages__dixdeymd36mq_large_2x.png);
}

.icon-content .icon-calendar {
  background-image: url(../img/icon_calendar__c8fy3r2wopoy_large_2x.png);
}

.icon-content .icon-calendar {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_calendar__c8fy3r2wopoy_large_2x.png);
}

.icon-content .icon-messages {
  background-image: url(../img/icon_messages__cnrtm4lep742_large_2x.png);
}

.icon-content .icon-messages {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_messages__cnrtm4lep742_large_2x.png);
}

.icon-content .icon-photos {
  background-image: url(../img/icon_photos__cqs5fv3rzqqa_large_2x.png);
}

.icon-content .icon-photos {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_photos__cqs5fv3rzqqa_large_2x.png);
}

.icon-content .icon-garageband {
  background-image: url(../img/icon_garageband__e2fug6ye1tme_large_2x.png);
}

.icon-content .icon-garageband {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_garageband__e2fug6ye1tme_large_2x.png);
}

.icon-content .icon-imovie {
  background-image: url(../img/icon_imovie__f4x6qks15bue_large_2x.png);
}

.icon-content .icon-imovie {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_imovie__f4x6qks15bue_large_2x.png);
}

.icon-content .icon-numbers {
  background-image: url(../img/icon_numbers__eqyh5c25fgom_large_2x.png);
}

.icon-content .icon-numbers {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_numbers__eqyh5c25fgom_large_2x.png);
}

.icon-content .icon-facetime {
  background-image: url(../img/icon_facetime__cbhsuwfu7g2u_large_2x.png);
}

.icon-content .icon-facetime {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_facetime__cbhsuwfu7g2u_large_2x.png);
}

.section-giveback .headline-container {
  margin-bottom: 20px;
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.large-8 {
  width: 66.66667%;
}

.headline-span {
  display: block;
}

[class*="typography-eyebrow"] {
  color: #333;
  display: block;
  margin-bottom: .4em;
}

.typography-eyebrow-elevated {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .007em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.section-giveback .section-headline {
  color: #111;
}

.typography-headline-custom {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

[class*="typography-eyebrow"] {
  color: #333;
  display: block;
  margin-bottom: .4em;
}

.site-header-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  min-width: 1024px;
  z-index: 9997;
}

.site-header-top .container {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
}

.site-header-top .ac-ln-title {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  cursor: default;
  display: block;
  float: left;
  margin: 14px 0 -14px;
  padding: 0;
  height: 52px;
  white-space: nowrap;
  color: #111;
}

.site-header-top .ac-ln-content {
  margin: 0;
  width: 980px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.site-header-top .ac-ln-menu a {
  margin-left: 24px;
  float: left;
  list-style: none;
}

.site-header-top .ac-ln-menu {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  float: left;
  margin-top: 0;
  padding-top: 18px;
  margin-left: 40%;
}

.site-header-top .ac-ln-action-product {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: auto;
  left: auto;
}

.site-header-top .ac-ln-action-button .ac-ln-button {
  margin-top: -1px;
  line-height: 1.33341;
  font-size: 12px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-radius: 12px;
  padding: 3px 11px;
}

.site-header-top .ac-ln-actions {
  float: left;
  padding-top: 18px;
}

.site-header-top .ac-ln-action-menucta {
  display: none;
}

.site-header-top .ac-ln-action-menucta {
  margin-top: -2px;
  position: relative;
  z-index: 1;
}

.site-header-top .ac-ln-action {
  margin-left: 24px;
  float: left;
}

.site-header-top .ac-ln-menucta {
  margin-right: -11px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 40px;
  height: 30px;
  -webkit-tap-highlight-color: transparent;
}

.site-header-top .ac-ln-menucta-chevron {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.site-header-top .ac-ln-action-button .ac-ln-button {
  margin-top: -1px;
}

.site-header-top .ac-ln-action .ac-ln-button {
  line-height: 1.33341;
}

.site-header-top .ac-ln-button-pill.ac-ln-button-compact, .site-header-top .ac-ln-button {
  font-size: 12px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-radius: 12px;
  padding: 3px 11px;
}

.ac-ln-title a {
  color: black;
}

.ac-ln-menu a {
  color: black;
}

.js-text-animation-item-animate {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

/* Animations */

[data-aos="example-anim1"] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="example-anim1"].aos-animate {
  transform: skewX(0);
  opacity: 1;
}

[data-aos="example-anim2"] {
  background: red;
  transition-property: background;
}

[data-aos="example-anim2"].aos-animate {
  background: green;
}

[data-aos="example-anim3"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="example-anim3"].aos-animate {
  transform: rotate(0);
  opacity: 1;
}
